@import 'components/containers.css';
@import 'components/clock.css';
@import 'components/weather.css';
@import 'components/grid.css';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto';
}

body {
	color: rgb(207, 207, 207);
	background-image: linear-gradient(315deg, rgb(16, 47, 94) 0%, rgb(18, 16, 14) 74%);
	background: linear-gradient(315deg, rgb(16, 47, 94) 0%, rgb(18, 16, 14) 74%);
}

a {
	text-decoration: none;
	color: rgb(33, 175, 128);
}

h1 {
	margin: 0;
	padding-bottom: 5px;
}

li {
	list-style: none;
	padding: 5px;
}

h3 {
	font-size: 20px;
	color: rgb(33, 175, 128);
}

.photo {
	display: flex;
	flex-basis: fill;
}

.imgCv {
	box-shadow: 1px 1px 5px #21af80;
	border-radius: 25px;
}

.project-2 ul::first-line {
	color: #21af80;
	font-size: large;
}

.firstBoxes {
	display: flex;
	align-items: center;
}

@media (max-width: 1040px) {
	.firstBoxes {
		display: flex;
		flex-wrap: wrap;
	}

	li {
		margin: 5px;
	}
}

.scroll-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 70px;
	height: 70px;
	background: linear-gradient(315deg, rgb(16, 47, 94) 0%, rgb(18, 16, 14) 74%);
	color: #fff;
	border: none;
	border-radius: 50px;
	font-size: 26px;
	cursor: pointer;
}
@media (max-width: 1040px) {
	.scroll-to-top {
		width: 50px;
		height: 50px;
	}

	.scroll-to-top:hover {
		box-shadow: 1px 1px 5px #21af80;
	}
}


@media (max-width: 1040px) {
	.container {
		margin: 0 35px;
	}
}