@import 'components/containers.css';
@import 'components/clock.css';
@import 'components/weather.css';

body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: rgb(185, 185, 185);
	background-color: #333;
}

.boxes {
	display: grid;
	grid-template-columns: 25% 15% 20% 40%;
}

.boxes-1{
	display: grid;
	grid-template-columns: 45% 30% 25%;
}

.boxes-2 {
	display: grid;
	grid-template-columns: 25% 25%;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid;
	border-radius: 10px;
	max-width: 1980px;
}

.line {
	border-bottom: 2px solid rgb(196, 196, 196);
	padding-bottom: 5px;
	margin-top: 0;
}



