@import 'components/containers.css';
@import 'components/clock.css';
@import 'components/weather.css';
@import 'components/grid.css';

body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: rgb(185, 185, 185);
	background-color: #333;
	width: 100vw;
	height: 100vh;
}

.border {
	position: relative;
	text-align: center;
	margin: 0;
}

h3 {
	position: absolute;
	top: 25px;
}
