.clock {
	font-family: 'Arial', sans-serif;
	font-size: 4em;
	color: #21af80;
	text-shadow: 0 0 15px #21af80;
	padding: 20px;
	border-radius: 10px;
}

.container {
	text-align: center;
}

.border {
	width: 100%;
}

.container h3,
.container h4 {
	margin-top: 0;
	border-bottom: 2px solid rgb(88, 88, 88);
	padding-bottom: 5px;
}

.container p {
	margin-top: 20px;
}

@media screen and (max-width: 600px) {
	.clock {
		font-size: 3em;
	}
}

