.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 1200px;
}

/* Media queries dla responsywności */
@media screen and (max-width: 1200px) {
	.container {
		max-width: 1000px;
	}
}

@media screen and (max-width: 768px) {
	.container {
		max-width: 600px;
	}
}

@media screen and (max-width: 480px) {
	.container {
		max-width: 400px;
	}
}

.border {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 25px;
	border: 2px solid #21af80;
	box-shadow: 20px 20px 25px -15px rgba(0, 255, 255, 0.53);
	margin: 20px 0px;
	padding: 20px;
	transition: 0.3s;
}

.border:hover {
	transform: scale(1.1);
}

@media (max-width: 1040) {
	.border:hover {
		transform: scale(1);
	}
}

.photo {
	width: 100%;
}

.localTime {
	width: 50%;
	margin: 20px;
}

@media (max-width:1040px) {
	.localTime {
		width: 100%;
	}
}

.weather {
	width: 100%;
	margin: 20px;
}

.about {
	width: 100%;
	margin: 25px;
}

.education {
	width: 100%;
}

.whatICanDo {
	width: 100%;
}

.language {
	width: 100%;
}

.contact {
	width: 100%;
}

.project-1 {
	width: 100%;
}

.project-2 {
	width: 100%;
}
